.hidden {
    visibility: hidden;
    display: none;
}
#form-container {
    display: flex;
}

input, #length {
    width: 2rem;
    height: 1.3rem;
    border-radius: 10px;
}

#submit-button {
    width: 3.5rem;
}
.tab {
}
#navigation-buttons {
    position: relative;
}
.block {
    border-style: solid;
    width: 10rem;
    height: 6rem;
    border-radius: 1px;
}
.truck {
    display: inline-grid;
}
.row {
    display: flex;
}